@charset "utf-8";
/*---------通用----------*/
.fl{
    float: left;
}
.fr{
    float:right;
}
.inline-block{
    display: inline-block;
}
.clear:after{
    content: "";
    display: block;
    clear: both;
}
.relative{
    position: relative;
}

/*--------------*/
.search_position{
    margin-top: 50px;
}

.gradesearch{
    margin: 5px 1% 0px 0px;
}
.position-magin{
    margin-left: 40px;
}
.sizeWith{
    /*width: auto;*/
    width:200px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.sizeWith-search{
    width: 172px;
    padding-right: 600px;
}
.placehoder_margin_left{
    margin-left: 38px;
}
.shujutow{
    width: 180px;
    border-radius: 3px;
    background-color: #337ab7;
    /*background-color: #ABB1B7;*/
    height: 180px;
    overflow: hidden;
    color: #fff;
    margin-top: 20px;
    margin-left: 40px
}
.shujutow dl{
    padding: 10px 10px 0 35px;
    line-height: 33px;
    color: #fff;
    margin-bottom: 10px;

    margin-top: 10px;


}
.shujutow dt{
    font-weight: 400
}
.shujutow ul{
    /*background: #1Ca2bb ;*/
    background: #337a99;
    /*background-color:  rgba(0,0,0,.1);*/
    height: 80px;
    margin-bottom: 0px;

}
.shujutow h2{
    font-size: 50px;
    line-height: 85px;
    padding: 0px;
    margin: 0px;
    float: left;
    margin-left: 50px
}
.shujutow li{
    float: left;
    line-height: 16px;
    list-style-type: none;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 47px
}

.navnnn{
    width: 220px;
    height: 100%;
    background: #eaffea;
}
.search{margin-top: 20px}