<div class="dropdown search_position " >

    <div class="input-group relative  position-magin">
        <div class="input-group-btn relative sizeWith ">
            <select name="type" class="form-control sizeWith">
                <option>2013年至2014年第一学期</option>
                <option>2013年至2014年第二学期</option>
                <option>2014年至2015年第一学期</option>
                <option>2014年至2015年第二学期</option>
                <option>2015年至2016年第一学期</option>
                <option>2015年至2016年第二学期</option>
                <option>2016年至2017年第一学期</option>
                <option>2016年至2017年第二学期</option>
            </select>
        </div>

        <span class="input-group-btn relative">
            <button class="btn btn-primary" id="search_submit" type="submit">确定</button>
        </span>
        <form class="bs-example bs-example-form  placehoder_margin_left relative" role="form">
            <div class="input-group">
                <input type="text" class="form-control sizeWith" placeholder="  请输入课程名称">
            </div>
        </form>
        <span class="input-group-btn sizeWith-search relative">
            <button class="btn btn-primary " id="search_name_submit " type="submit">搜索</button>
        </span>
        <!--<span class="btn btn-primary relative"></span>-->
    </div>

    <!--<div class="search fr">-->
        <!--<button type="button" class="btn btn-default" >搜索</button>-->
    <!--</div>-->

</div>

<div class="gradesearch clear">
    <div class="shujutow fl">
        <dl>
            <dt>科目： 数据结构</dt>
            <dt>老师： 廖雪花老师</dt>
            <dt>总分： 100分</dt>
        </dl>
        <ul>
            <h2>     90</h2>
            <li>分</li>
        </ul>
    </div>

    <div class="shujutow fl">
        <dl>
            <dt>科目： 数据库</dt>
            <dt>老师： 俞晓老师</dt>
            <dt>总分： 100分</dt>
        </dl>
        <ul>
            <h2>     80</h2>
            <li>分</li>
        </ul>
    </div>

    <div class="shujutow fl">
        <dl>
            <dt>科目： C语言</dt>
            <dt>老师： 廖雪花老师</dt>
            <dt>总分： 100分</dt>
        </dl>
        <ul>
            <h2>     90</h2>
            <li>分</li>
        </ul>
    </div>

    <div class="shujutow fl">
        <dl>
            <dt>科目： Java语言</dt>
            <dt>老师： 夏羽老师</dt>
            <dt>总分： 100分</dt>
        </dl>
        <ul>
            <h2>     90</h2>
            <li>分</li>
        </ul>
    </div>

    <div class="shujutow fl">
        <dl>
            <dt>科目： 高等数学</dt>
            <dt>老师： 汪裕才老师</dt>
            <dt>总分： 100分</dt>
        </dl>
        <ul>
            <h2>     90</h2>
            <li>分</li>
        </ul>
    </div>

    <div class="shujutow fl">
        <dl>
            <dt>科目： 高等数学</dt>
            <dt>老师： 汪裕才老师</dt>
            <dt>总分： 100分</dt>
        </dl>
        <ul>
            <h2>     90</h2>
            <li>分</li>
        </ul>
    </div>
</div>
