<body>
<div class="form-group" id="dropdownDiv">
    <div class="input-group col-xs-12">
        <span class="btn btn-primary">选择课程：</span>
        <div class="input-group-btn">
            <select name="type" class="form-control" style="width: auto;">
                <option>python语言</option>
                <option>软件工程理论</option>
                <option>数据挖据</option>
                <option>高级算法</option>
                <option>软件体系结构</option>
            </select>
        </div>
        <span class="input-group-btn">
            <button class="btn btn-success" id="search_submit" type="submit">Go</button>
        </span>
    </div>
</div>
<hr>
<div id="show_content">
    <div id="item_tittle">
        <div class="row">
            <div class="col-md-4">课程名称</div>
            <div class="col-md-4">考试时间</div>
            <div class="col-md-4">统计分布</div>
        </div>
    </div>
    <div id="item_content">
        <div class="row item">
            <div class="col-md-4">软件工程理论</div>
            <div class="col-md-4">2016-10-10 09:30</div>
            <div class="col-md-4">
                <a href="grade-count-index" id="gradeLink"><button type="button" class="btn btn-xs btn-info">查看详情</button></a>
            </div>
        </div>
        <div class="row item">
            <div class="col-md-4">数据挖据</div>
            <div class="col-md-4">2016-10-18 09:30</div>
            <div class="col-md-4">
                <a href="grade-count-index" id="gradeLink"><button type="button" class="btn btn-xs btn-info">查看详情</button></a>
            </div>
        </div>
        <div class="row item">
            <div class="col-md-4">python语言</div>
            <div class="col-md-4">2016-10-17 09:30</div>
            <div class="col-md-4">
                <a href="grade-count-index" id="gradeLink"><button type="button" class="btn btn-xs btn-info">查看详情</button></a>
            </div>
        </div>
        <div class="row item">
            <div class="col-md-4">高级算法</div>
            <div class="col-md-4">2016-10-14 08:30</div>
            <div class="col-md-4">
                <a href="grade-count-index" id="gradeLink"><button type="button" class="btn btn-xs btn-info">查看详情</button></a>
            </div>
        </div>
    </div>

    <div id="bottom">
        <ul class="pagination pagination-sm">
            <li><a href="#">&laquo;第一页</a></li>
            <li><a href="#">11</a></li>
            <li><a href="#">12</a></li>
            <li class="active"><a href="#">13</a></li>
            <li><a href="#">14</a></li>
            <li><a href="#">15</a></li>
            <li class="disabled"><a href="#">最后一页&raquo;</a></li>
        </ul>
    </div>
</div>
</body>