<body>
<div>
    <div id="show_content">
        <div id="item_tittle">
            <div class="row">
                <div class="col-md-2">课程名：</div>
                <div class="col-md-2">总分：</div>
                <div class="col-md-2">参考人数：</div>
                <div class="col-md-2">平均分：</div>
            </div>
            <div class="row">
                <div class="col-md-2">及格人数：</div>
                <div class="col-md-2">及格率：</div>
                <div class="col-md-2">不及格人数：</div>
                <div class="col-md-2">不及格率：</div>
            </div>
        </div>
    </div>
</div>
<br>
<div>
    <img data-src="holder.js/400x400" class="img-thumbnail" alt="400x400" style="width: 400px; height: 400px;">
    <h2><span class="label label-primary">柱状图</span></h2>
</div>
<div>
    <img data-src="holder.js/400x400" class="img-thumbnail" alt="400x400" style="width: 400px; height: 400px;">
    <h2><span class="label label-primary">扇状图</span></h2>
</div>
</body>
