<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" href="../../static/exam/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/exam/css/nav.css">              <!--导航样式-->
    <link rel="stylesheet" href="../../static/exam/icon-font/iconfont.css">  <!--字体图标-->
    <link rel="stylesheet" href="../../static/exam/font/iconfont.css">
    <link rel="stylesheet" href="../../static/exam/css/frame.css">            <!--框架样式-->

    <!--lay ui-->
    <link rel="stylesheet" href="../../static/exam/layui/css/layui.css">

    <!-- Bootstrap -->
    <link href="../../static/exam/css/bootstrap.min.css" rel="stylesheet">

    <!--jQuery UI-->
    <link rel="stylesheet" href="../../static/exam/css/jquery-ui.min.css">

    <!--试题库样式-->
    <link href="../../static/exam/css/teacher/itemBank.css" rel="stylesheet">
    <link href="../../static/exam/css/teacher/itemBankManual.css" rel="stylesheet">
    <!--引入wangEditor.css-->
    <link rel="stylesheet" type="text/css" href="../../static/exam/js/wangEditor/dist/css/wangEditor.min.css">

    <!--成绩统计样式-->
    <link href="../../static/exam/css/teacher/grade-count.css" rel="stylesheet">
    <link href="../../static/exam/css/teacher/grade-count-index.css" rel="stylesheet">

    <link rel="stylesheet" href="../../static/exam/css/student/grade-search.css">
    <link href="../../static/exam/css/teacher/marking.css" rel="stylesheet">   <!--教师阅卷样式-->
    <link href="../../static/exam/css/teacher/marking_sub.css" rel="stylesheet">   <!--教师阅卷子页面样式-->

    <!--考试设置样式-->
    <link rel="stylesheet" href="../../static/exam/css/teacher/setExam.css">
</head>
<body>
    <div class="clear" >
        <div class="nav left fl">
            <div class="nav-top">
                <div id="mini" style="border-bottom:1px solid rgba(255,255,255,.1)"><img src="../../static/exam/images/mini.png" ></div>
            </div>
            <ul class="nav-ul">
            </ul>
        </div>
        <div class="fl right">
            <header >
                <div class="top user">
                    用户名：admin
                </div>
            </header>
            <section class="content" id="content"></section>
        </div>
    </div>
    <script type="text/javascript">
    </script>
    <script src="../../static/exam/js/jquery-1.12.4.min.js"></script>
    <script src="../../static/exam/js/jquery-ui-1.12.1.min.js"></script>

    <script src="../../static/exam/layui/layui.js"></script>
    <script src="../../static/exam/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <!--wangEditor特效-->
    <script type="text/javascript" src="../../static/exam/js/wangEditor/dist/js/wangEditor.min.js"></script>

    <script src="../../static/exam/js/nav.js"></script>
    <script src="../../static/exam/js/index.js"></script>

    <script src="../../static/exam/js/item-bank.js"></script>
    <script src="../../static/exam/js/grade-count.js"></script>
    <script src="../../static/exam/js/marking.js"></script>
    <script src="../../static/exam/js/setExam.js"></script>
</body>
</html>


