<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" href="../../static/exam/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/exam/css/nav.css">              <!--导航样式-->
    <link rel="stylesheet" href="../../static/exam/icon-font/iconfont.css">  <!--字体图标-->
    <link rel="stylesheet" href="../../static/exam/font/iconfont.css">
    <link rel="stylesheet" href="../../static/exam/css/frame.css">            <!--框架样式-->

     <!-- Bootstrap -->
    <link href="../../static/exam/css/bootstrap.min.css" rel="stylesheet">
    <!--试题库样式-->
    <link href="../../static/exam/css/teacher/itemBank.css" rel="stylesheet">
    <link href="../../static/exam/css/teacher/itemBankManual.css" rel="stylesheet">
    <!--引入wangEditor.css-->
    <link rel="stylesheet" type="text/css" href="../../static/exam/js/wangEditor/dist/css/wangEditor.min.css">

    <!--成绩统计样式-->
    <link href="../../static/exam/css/teacher/grade-count.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/exam/css/student/grade-search.css">

</head>
<body>
    <div class="clear" >
        <div class="nav left fl">
            <div class="nav-top">
                <div id="mini" style="border-bottom:1px solid rgba(255,255,255,.1)"><img src="../../static/exam/images/mini.png" ></div>
            </div>
            <ul class="nav-ul">
            </ul>
        </div>
        <div class="fl right">
            <header >
                <div class="top user">
                    用户名：admin
                </div>
            </header>
            <section class="content" id="content"></section>
        </div>
    </div>
    <script type="text/javascript">
    </script>
    <script type="text/javascript" src="../../static/exam/js/jquery.min.js"></script>
    <script src="../../static/exam/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/exam/js/nav.js"></script>
    <script type="text/javascript" src="../../static/exam/js/index.js"></script>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>
    <script src="../../static/exam/js/item-bank.js"></script>
    <script src="../../static/exam/js/grade-count.js"></script>
</body>
</html>


