<body>
  <div id="nav_btn">
      <h4 id="typeLbl">试题类型：</h4>
      <form class="form-inline clearfix">
          <div class="form-group">
              <select class="form-control" id="quesType">
                  <option>选择题</option>
                  <option>填空题</option>
                  <option>判断题</option>
                  <option>简答题</option>
                  <option>程序设计题</option>
              </select>
          </div>
      </form>
      <!--<h4 id="degreeLbl">试题难度：</h4>-->
      <!--<form role="form" id="quesDegree">-->
          <!--<div class="form-group">-->
              <!--<select class="form-control">-->
                  <!--<option>简单</option>-->
                  <!--<option>中等</option>-->
                  <!--<option>困难</option>-->
              <!--</select>-->
          <!--</div>-->
      <!--</form>-->
  </div>
  <div id="content_block">
      <div class="tittle">
          <span class="tip">题干</span>
          <span class="intro">在这里填写题目描述</span>
      </div>
      <div id="tittle_block">
          <textarea class="form-control" rows="10" id="quesContent" onfocus="$('#quesContent').val('');"></textarea>
      </div>
      <div id="answer_block">

          <!--选择题选项-->
          <div class="selection clearfix" id="selectionDiv">
              <div class="ansItem">
                  <span class="tip">选项</span>
                  <span class="intro">在这里填写选项信息</span>
              </div>

              <form class="selectionForm">
                  <div class="container-div">
                      <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-addon bg-primary">选项个数</span>
                              <input type="number" class="form-control" min="2" max="7" value="4" id="selectNum">
                          </div>
                      </div>
                  </div>
                  <div class="selectionsContainer">
                      <div class="container-div">
                          <div class="form-group">
                              <div class="input-group">
                            <span class="input-group-addon bg-primary">
                                <label class="radio-inline">
                                    <input type="radio" name="singleSelectRadio" id="aRadio" value="option3" checked> A
                                </label>
                            </span>
                                  <input type="text" class="form-control" placeholder="请输入选项内容">
                              </div>
                          </div>
                      </div>
                      <div class="container-div">
                          <div class="form-group">
                              <div class="input-group">
                            <span class="input-group-addon bg-primary">
                                <label class="radio-inline">
                                    <input type="radio" name="singleSelectRadio" id="bRadio" value="option3"> B
                                </label>
                            </span>
                                  <input type="text" class="form-control" placeholder="请输入选项内容">
                              </div>
                          </div>
                      </div>
                      <div class="container-div">
                          <div class="form-group">
                              <div class="input-group">
                            <span class="input-group-addon bg-primary">
                                <label class="radio-inline">
                                    <input type="radio" name="singleSelectRadio" id="cRadio" value="option3"> C
                                </label>
                            </span>
                                  <input type="text" class="form-control" placeholder="请输入选项内容">
                              </div>
                          </div>
                      </div>
                      <div class="container-div">
                          <div class="form-group">
                              <div class="input-group">
                           <span class="input-group-addon bg-primary">
                               <label class="radio-inline">
                                   <input type="radio" name="singleSelectRadio" id="dRadio" value="option3"> D
                               </label>
                           </span>
                                  <input type="text" class="form-control" placeholder="请输入选项内容">
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
          </div>

          <!--判断题选项-->
          <div class="judgement clearfix" id="judgeDiv">
              <div class="ansItem">
                  <span class="tip">选项</span>
                  <span class="intro">在这里填写选项信息</span>
              </div>

              <form class="selectionForm">
                  <div class="container-div">
                      <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon bg-primary">
                                <label class="radio-inline">
                                    <input type="radio" name="judgeRadio" id="rightRadio" value="true" checked> 正确
                                </label>
                            </span>
                              <input type="text" class="form-control" placeholder="请输入选项内容">
                          </div>
                      </div>
                  </div>
                  <div class="container-div">
                      <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon bg-primary">
                                <label class="radio-inline">
                                    <input type="radio" name="judgeRadio" id="falseRadio" value="false"> 错误
                                </label>
                            </span>
                              <input type="text" class="form-control" placeholder="请输入选项内容">
                          </div>
                      </div>
                  </div>

              </form>
          </div>
      </div>


     </div>




  <script type="text/javascript">
  /*初始化富文本编辑器*/
  var editor = new wangEditor("quesContent");
   editor.config.menus = [
        'bold',
        'underline',
        'italic',
        'strikethrough',
        'eraser',
        'forecolor',
        'bgcolor',
        'quote',
        'fontfamily',
        'fontsize',
        'head',
        'unorderlist',
        'orderlist',
        'alignleft',
        'aligncenter',
        'alignright',
        'image',  // 插入图片
        'table',  // 表格
        'code',  // 插入代码
   ];


  editor.create();

  // 初始化编辑器的内容
  editor.$txt.html("<p>请输入题目内容~</p>");
  </script>