<body>
<div id="marking_nav_btn">
    <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">选择批阅状态<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="##">批阅中</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="marking_show_course.html" id="start">待批阅</a></li>
            <li><a href="marking_show_course.html" id="finsh">已批阅</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">选择批阅课程<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="##">软件工程</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="marking_show_course.html" id="course1">计算机导论</a></li>
            <li><a href="marking_show_course.html" id="course2">信息安全</a></li>
        </ul>
    </div>
</div>
<div id="marking_show_content">
    <div id="marking_item_tittle">
        <div class="row">
            <div class="col-md-1">题目序号</div>
            <div class="col-md-1">题型</div>
            <div class="col-md-4">题目内容</div>
            <div class="col-md-1">批阅状态</div>
            <div class="col-md-2">操作</div>
        </div>
    </div>
    <div id="marking_item_content">
        <div class="row marking_item">
            <div class="col-md-1">17</div>
            <div class="col-md-1">主观题</div>
            <div class="col-md-4 item_name">简述软件工程目标和面临的主要问题。</div>
            <div class="col-md-1">40/60</div>
            <div class="col-md-2">
                <a href="marking_sub" id="btnGoon"><button class="btn btn-primary" type="button" style="width:50px;height:30px;">继续</button></a>
            </div>
        </div>
        <div class="row marking_item">
            <div class="col-md-1">18</div>
            <div class="col-md-1">主观题</div>
            <div class="col-md-4 item_name">用户需求和系统需求各有什么特点？</div>
            <div class="col-md-1">0/60</div>
            <div class="col-md-2">
                <a href="marking_sub" id="btnStart"><button class="btn btn-primary" type="button" style="width:50px;height:30px;">开始</button></a>
            </div>
        </div>
        <div class="row marking_item">
            <div class="col-md-1">19</div>
            <div class="col-md-1">主观题</div>
            <div class="col-md-4 item_name">软件设计分哪几个阶段，它们的主要任务是什么？</div>
            <div class="col-md-1">60/60</div>
            <div class="col-md-2">
                <button class="btn btn-primary" type="button" style="width:50px;height:30px;">完成</button>
            </div>
        </div>
    </div>

</div>

</body>