<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>考试云平台</title>
<meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="renderer" content="webkit">
<meta name="description" content="">
<meta name="author" content="">
<!-- Le styles -->
<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/student/testing/uploadify.css">
<link rel="stylesheet" type="text/css" href="css/student/testing/style.css">
<link rel="stylesheet" type="text/css" href="css/student/testing.css">
<!--<link rel="stylesheet" type="text/css" href="/static/ueditor/themes/default/css/ueditor.min.css">-->
<!--wangEditor style-->
<link rel="stylesheet" href="css/student/wangEditor.min.css">
<link rel="stylesheet" href="css/student/UuplodFile.css">

<!--<script type="text/javascript" src="http://cdn.oss.kaoshixing.com/ksxing_static/jquery.min.js"></script>-->
    <script type="text/javascript" src="js/jquery.min.js"></script>

<!--&lt;!&ndash; customer styles &ndash;&gt;-->
<!--<style>-->
<!--.edui-toolbar {line-height: 20px;}-->
<!--video {width:50%;display:block;margin-left:50px;}-->
<!--.answers  a {text-decoration: none;color:inherit;cursor:default;}-->
<!--.pop-test3 span {font-size:24px;}-->
<!--.modal-dialog {width: 350px;}-->
<!--.modal-header {background-color: #5d9cec;color: #fff;font-size: 16px;margin: 0px !important;padding: 10px 25px !important;text-align: center;}-->
<!--.alert-danger{position: fixed;width: 60%;z-index: 1000;top: 40%;left: 20%;text-align: center;padding: 40px;font-size: 30px;border-radius: 15px;color: #fff;background-color: #ff5800;border-color: #fd8100;}-->
<!--.tip{position: absolute;}-->
<!--.expanding,.expanding-clone{width: 500px!important;}-->
<!--.input-group{margin-bottom: 15px;}-->
<!--#copy {display: inline-block;height: 25px;width: 70px;text-align: center;font-size: 12px;line-height: 25px;color: #333;cursor: pointer;background-color: #eee;border: 1.5px dashed #777;border-radius: 6px;vertical-align: 5px;}-->
<!--audio {margin: 0 0 -10px 0;}-->
<!--.questions dl{padding: 30px;}-->
<!--.edui-default .edui-editor-toolbarbox{position: relative!important;}-->
<!--.edui-editor div{height: auto!important;}-->
<!--#webcam{position: fixed;z-index: 9999;}-->
<!--#webcam .glyphicon-remove{position: absolute;right: 0;font-size: 18px;border: 2px solid #5d9cec;color: #5d9cec;padding: 2px;margin: 3px;z-index: 2;cursor: pointer;}-->

<!--#cams,#loading{position: fixed;z-index: 9998;color: #fff;top: 0;bottom: 0;left: 0;right: 0;}-->
<!--#cams span{display: inline-block!important;}-->
<!--.capture-status{font-size: 1.3em;color: #ff5800;margin-left: 150px;opacity: 0;filter: opacity(alpha=0);cursor: pointer;}-->
<!--.bootstrap-dialog{z-index: 100000001;}-->
<!--[title_tip]:hover:after{content: attr(title_tip);padding:5px 10px;line-height: 18px;text-align: left;width: 80px!important;margin: 15px 5px;color: #fff;position: absolute;z-index: 20;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;-->
  <!-- -moz-box-shadow: 0px 0px 4px #222;-webkit-box-shadow: 0px 0px 4px #222;-->
  <!--box-shadow: 0px 0px 4px #222;-->
  <!--background-color: #444;opacity: 0.7;filter:alpha(opacity=70);-->
<!--}-->
<!--span.ch, .en {-->
    <!--cursor: pointer;-->
<!--}-->
<!--span.devid{-->
    <!--color: #f7f7f7;-->
<!--}-->
<!--div#swichLang {-->
    <!--position: absolute;-->
    <!--right: 205px;-->
    <!--top: 28px;-->
<!--}-->
<!--.ch{-->
    <!--color: #ff5800;-->
<!--}-->
<!--.en{-->
    <!--color: #f7f7f7;-->
<!--}-->
<!--</style>-->
</head>

<body class="main-page answer-style" id="exam_answer" oncontextmenu=self.event.returnValue=false onpaste="return false" oncopy="return false">

<!--<input type="text" id="exam_results_id_for_test" value="3494085" class="hidden">-->
<!--<div id="loading">-->
    <!--<img src='../../images/icon_loading.gif' style="position:absolute;top: 30%;left: 40%;width:250px;border-radius: 30px;box-shadow: 2px 2px 5px #ccc;"/>-->
<!--</div>-->
<div class="alert alert-danger" role="alert" style="display:none"></div>
<div id="webcam">
    <span class="glyphicon glyphicon-remove" aria-hidden="true">
        ::before
    </span>
</div>

<form id="captureForm" action="capture" method="post" target="capture_iframe" style="display:none;">
    <iframe id="capture_iframe" name="capture_iframe" style="display:none;" width="1" height="1"></iframe>
    <input type="text" name="exam_results_id" />
    <input type="text" name="question_id" />
</form>


<div id="wrap">

    <div id="header">
    	<div id="top">
        	<div id="logo" style="display: block;"><a href="javascript:void(0)" style="background-image:none;"></a></div>
            <div id="swichLang">
                <span class="ch">CH</span><span class="devid">/</span><span class="en">EN</span>
            </div>
            <div id="accout">
            	<em></em><span>csq</span>
            </div>
        </div>
    </div>

    <div id="content" class="clearfix">
        <div class="paper">
            <h3 class="submit_fixed" style="text-align:center;">
             <div class="l">
             	<span class="time"><em></em><span class="timeDown">00:52:56</span></span>
                <span class="card"><em></em><a href="javascript:void(0)" class="hasShowCardLink">答题卡</a></span>
                <!--<span class="fontsize">-->
                  <!--<button class="btn fontsize-btn fontsize-btn-l" style="position:relative;top:-1px;">- &nbsp;&nbsp;&nbsp;Aa</button>-->
                  <!--<em></em>-->
                  <!--<button class="btn fontsize-btn fontsize-btn-r">+</button>-->
                <!--</span>-->

             </div>
             <div class="r">
                 <span class="conf">
                    <a href="javascript:void(0)" class="btn btn-default examEndBtn" style="width:80px;height:30px;padding:4px 0px;color:white;">交卷</a>
                 </span>
             </div>
            </h3>
            <div class="cont">
            	<h4>试卷示例</h4>

     <div class="questions">
         <div class="qh">
                <h5>单选题<span class="qh_detail">共10题，合计100.0分</span></h5>
         </div>
                <dl class="questionsContent" questionsId="59f1cbb4f92ea176cf6ea485" hasAnswered="false">
                    <!--////////////////////////////////////////-->
                    <dt>
                    <div class="icon-block">
                        <label class="qIndex"><span class="index">1</span></label>
                        <a name="questions_59f1cbb4f92ea176cf6ea485"></a>

                        <span class="qm"><em class="mark" num="questions_59f1cbb4f92ea176cf6ea485" title_tip="标记试题"></em></span>

                    </div>
        <span class="qc">

            <span class="qf">（10.0分)</span>


            <span class="qq">在机场、商厦、地铁等公共场所乘自动扶梯时应靠（）站立,另一侧供有急事赶路的人快行。</span>

        </span>

                    <input type="hidden" name="questionsType" value="1" />
                    <input type="hidden" name="questionsAnswered" value="" />

                    </dt>
    <span class="answers">

        <dd class="a">
            <input type="radio" class="radioOrCheck" questionsType="1" id="529f1cbb4f92ea176cf6ea4851" name="keyChk_questions_59f1cbb4f92ea176cf6ea485" answerName="key1">
            <label for="59f1cbb4f92ea176cf6ea4851" >
                <span class="qss"><span></span></span>
                <a  class="words">A. 左侧 </a>
            </label>
        </dd>
    </span>


    <span class="answers">

            <dd class="b">
                <input type="radio" class="radioOrCheck" questionsType="1" id="539f1cbb4f92ea176cf6ea4852" name="keyChk_questions_59f1cbb4f92ea176cf6ea485" answerName="key2"/>
                <label for="59f1cbb4f92ea176cf6ea4852">
                    <span class="qss"><span></span></span>
                    <a  class="words">B. 右侧 </a>
                </label>
             </dd>
    </span>
    <span class="answers">

            <dd class="c">
                <input type="radio" class="radioOrCheck" questionsType="1" id="529f1cbb4f92ea176cf6ea4853" name="keyChk_questions_59f1cbb4f92ea176cf6ea485" answerName="key3" onpaste="return false" oncopy="return false"/>
                <label for="59f1cbb4f92ea176cf6ea4853">
                    <span class="qss"><span></span></span>
                    <a  class="words">C. 中间  </a>
                </label>
                <!-- onclick="sb(this)"-->
             </dd>
    </span>
<!--////////////////////////////////////////-->
                    <dt>
                    <div class="icon-block">
                        <label class="qIndex"><span class="index">2</span></label>
                        <a name="questions_59f1cbb4f92ea176cf6ea485"></a>

                        <span class="qm"><em class="mark" num="questions_59f1cbb4f92ea176cf6ea485" title_tip="标记试题"></em></span>

                    </div>
        <span class="qc">

            <span class="qf">（10.0分)</span>
            <span class="qq">在机场、商厦、地铁等公共场所乘自动扶梯时应靠（）站立,另一侧供有急事赶路的人快行。</span>

        </span>

                    <input type="hidden" name="questionsType" value="1" />
                    <input type="hidden" name="questionsAnswered" value="" />
                    </dt>
    <span class="answers">

        <dd class="a">
            <input type="radio" class="radioOrCheck" questionsType="1" id="59f1cbb4f92ea176cf6ea4851" name="keyChk_questions_59f1cbb4f92ea176cf6ea485" answerName="key1">
            <label for="59f1cbb4f92ea176cf6ea4851" >
                <span class="qss"><span></span></span>
                <a  class="words">A. 左侧 </a>
            </label>
        </dd>
    </span>


    <span class="answers">

            <dd class="b">
                <input type="radio" class="radioOrCheck" questionsType="1" id="59f1cbb4f92ea176cf6ea4852" name="keyChk_questions_59f1cbb4f92ea176cf6ea485" answerName="key2"/>
                <label for="59f1cbb4f92ea176cf6ea4852">
                    <span class="qss"><span></span></span>
                    <a  class="words">B. 右侧 </a>
                </label>
             </dd>
    </span>
    <span class="answers">

            <dd class="c">
                <input type="radio" class="radioOrCheck" questionsType="1" id="59f1cbb4f92ea176cf6ea4853" name="keyChk_questions_59f1cbb4f92ea176cf6ea485" answerName="key3" onpaste="return false" oncopy="return false"/>
                <label for="59f1cbb4f92ea176cf6ea4853">
                    <span class="qss"><span></span></span>
                    <a  class="words">C. 中间  </a>
                </label>
                <!-- onclick="sb(this)"-->
             </dd>
    </span>
                </dl>
    </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/plain" style="width:1024px;height:500px;display:none" name="key1" id="editor" oncontextmenu=self.event.returnValue=false onselectstart="return false" onpaste="return false" oncopy="return false"></script>

    <!--答题卡-->
    <div id="numberCardDom">
        <div class="answer-card">
            <h3>
            	<div class="l">
                </div>
                <span class="tit">答题卡</span>
                <div class="r">
             		<a class="card-off" href="javascript:void(0)"></a>
                </div>
            </h3>
            <div class="cont">
                <p class="intro">
                	说明：<span><em class="s1"></em>未完成</span><span><em class="s2"></em>已完成</span><span><em class="s4"></em>标记</span>
                </p>
                <dl>
                        <dt>单选题</dt>
                        <dd class="s1">
                            <a questionsIdHref="59f1cbb4f92ea176cf6ea46f" class="iconBox icon_answer_no questions_59f1cbb4f92ea176cf6ea46f" num="questions_59f1cbb4f92ea176cf6ea46f" hasAnswered="false">1</a>
                        </dd>
                    <dd class="s2">
                        <a questionsIdHref="59f1cbb4f92ea176cf6ea46f" class="iconBox icon_answer_no questions_59f1cbb4f92ea176cf6ea46f" num="questions_59f1cbb4f92ea176cf6ea46f" hasAnswered="false">2</a>
                    </dd>
                </dl>

                <div class="btn-div">
                    <button type="button" class="btn btn-default examEndBtn">立即交卷</button><br /><br />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<div class="modal fade ksx" id="blurCount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">提示信息</h4>
      </div>
      <div class="modal-body" style="padding-top:60px;padding-bottom:40px;text-align:center;">
        <p class="cont_main" style="font-size:18px;"></p>
        <div class="btn-div">
            <button type="button" class="btn btn-default closeBlurCount" style="margin:15px;">确认</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="maskDiv" style=" background-color:#000; padding-top:250px; top:0;width:100%; height:100%; position: fixed; z-index:10000; text-align:center;filter:alpha(opacity=50);  -moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5; display:none">
	<img src="../../images/ajax-loader.gif" style="display:none">
</div>
<iframe name="fileup_iframe" id="fileupIframe" class="hidden"></iframe>

<script type="text/javascript" src="js/testing/bootstrap.min.js"></script>


<script type="text/javascript" src="js/testing/jquery.webcam.js"></script>
<script type="text/javascript" src="js/testing/swfobject.js"></script>
<script type="text/javascript" src="js/testing/json3.js"></script>
<script type="text/javascript" src="js/testing/jquery.uploadify.min.js"></script>
<script src="js/testing/stickUp.js"></script>
<script type="text/javascript" src="js/testing/expanding.js"></script>
<script type="text/javascript" src="js/testing/screefull.js"></script>
<script type="text/javascript" src="js/testing/record.js"></script>

<script type="text/javascript">
    jQuery(function($) {
        $(document).ready( function() {
          //enabling stickUp on the '.navbar-wrapper' class
          $('.submit_fixed').stickUp();
        });
    });

    (function ($) {
        $(document).ready(function() {
            if ($.isFunction($.bootstrapIE6)) $.bootstrapIE6($(document));
        });
    })(jQuery);

    //切换英文
    $(".en").click(function () {
        $.ajax({
            url:'/account/set_language',
            type:'GET',
            data:{
                language:'en'
            },
            dataType:'json',
            success:function(data){
                window.location.href = window.location.href+"?"+Math.random();
            }
        })
    });

var answer_time = "3215";
var exam_info_id = "79304"; //考试ID
var exam_results_id = "3494085"; //考试关联ID
var set_full_screen = "1";//防作弊参数
var blur_count="0";//切换次数
var domain = "31709"
var examinee_user_name = "15987123191@31709";
var jwt = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1MDkyODY4ODUuOTMwODkzfQ.r5ASyZ_w27gZj_ADxcETatSo7p_9mnVTKx5KQ1zpVZY";
var restTime="0";
var timeLimit="False";
var version="50";
var platform="windows";

//若开启全屏防作弊，则点击页面触发全屏
if(set_full_screen==0){
    $("#exam_answer").click(function () {
        //当且仅当页面处于非全屏状态时再次触发全屏请求，否则，每次点击页面都会回到页面顶部
        if(!screenfull.isFullscreen&&screenfull.enabled){
            screenfull.request();
        }
    });
}

var capture="False";
$(document).ready(function () {

    answer_time=parseInt(answer_time);
    //  考试时间倒计时
     timeDown();
});
// 在试卷未完全加载完之前一直显示加载中，不能答题，加载完之后正常答题
window.onload=function() {
    $("#loading").hide();
}

    //倒计时
    function timeDown(){
        if(answer_time==0){
            $(".timeDown").removeClass("warning");
            $(".timeDown").text("考试结束");
            alert("考试时间到！");
            if(check_subsidiary(domain) ){
               $(".examEndJumpBtn").hide();
            }
        	saveExamFn();
        }
        if(answer_time==10){
            $(".timeDown").addClass("warning");
        }
        var day = Math.floor(answer_time/86400);
        var day_left=answer_time-86400*day;
        var hour = Math.floor(day_left/3600);
        var hour_left=day_left-3600*hour;
        var minutes= Math.floor(hour_left/60);
        var seconds= hour_left-60*minutes;
        time_show=(day==0?'':(day+'天:'))+(hour<10?'0'+hour:hour)+':'+(minutes<10?'0'+minutes:minutes)+
                   ':'+(seconds<10?'0'+seconds:seconds);
        $(".timeDown").text(time_show);
        answer_time=answer_time-1;
        setTimeout("timeDown()",1000);
    }
</script>
<script type="text/javascript" src="js/testing/basic.js?v=201703021644"></script>
<script type="text/javascript" src="js/testing/bootstrap-dialog.min.js"></script>
<script type="text/javascript" src="js/testing/exam_answer.js?ver=201709081226"></script>
<script type="text/javascript" src="js/testing/wangEditor.js"></script>
<script type="text/javascript" src="js/testing/uploadFile.js"></script>
<script type="text/javascript" src="js/testing/admin_main.js"></script>
<script>
    $(function () {
        $(document).on('contextmenu copy', function () {
            return false;
        });
    });
</script>
<script>
    $(function () {
        $('input[type=file]').change(function () {
            if ($(this).val() == '')
                return;
            var questionsid = $(this).parents('.questionsContent').attr('questionsid');
            $(this).addClass('form-wrapped');
            $(this).wrap('<form id="fileupForm" action="/exam/attachment_operate/?method=upload&platform=pc&upload_type=upload_file" method="post" enctype="multipart/form-data" target="fileup_iframe"></form>');
            $('#fileupForm').append('<input type="hidden" name="question_id" value="'+questionsid+'">');
            $('#fileupForm').append('<input type="hidden" name="exam_results_id" value="'+exam_results_id+'">');
            $('#fileupForm').append('<input type="hidden" name="exam_info_id" value="'+exam_info_id+'">');
            $('#fileupForm').submit();
        });
        $('#fileupIframe').load(function () {
            var msg = JSON.parse($(this).contents().find('body').text());
            if (msg.msg == 'true') {
                var li = '<li><a href="'+msg.audio_url+'">'+msg.filename+'</a> <i class="glyphicon glyphicon-remove remove-file"></i></li> ';
                $('#fileupForm').parents('.filled').find('ul.file-list').append(li);
            } else
                alert ('上传失败');
            $('#fileupForm').find('input[type=hidden]').remove();
            $('.form-wrapped').unwrap().removeClass('form-wrapped');
        });
        $(document).on('click', '.file-list .remove-file', function () {
            var fileurl = $(this).prev().attr('href');
            var filename = $(this).prev().text();
            var questionsid = $(this).parents('.questionsContent').attr('questionsid');
            var span = this;
            $.ajax({
                url: '/exam/attachment_operate/?method=remove&remove_type=upload_file',
                type: 'post',
                data: 'exam_results_id='+exam_results_id+'&question_id='+questionsid+'&audio_url='+fileurl+'&filename='+filename,
                success: function (msg) {
                    msg = JSON.parse(msg);
                    if (msg.msg == 'true')
                        $(span).parent().remove();
                    else
                        alert ('删除失败');
                },
                error: function () {
                    alert ('服务器异常，稍后再试');
                }
            })
        })
    })
</script>
</body>
</html>