@charset "utf-8";
/* CSS Document */
#nav_btn{
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
    margin-top:45px;
    padding-left: 10px;
}

#content_block{
    background: #e4e4e4;
}

#tittle_block{
    width: 1000px;
    padding-top: 20px;
    margin-left: 45px;
}

#quesType{
    width:90px;
    float: left;
}

#quesDegree{
    width:80px;
    float: left;
}

#typeLbl{
    float: left;
    color: #0d78d4;
}

#degreeLbl{
    float: left;
    margin-left: 30px;
    color: #0d78d4;
}

.tittle{
    padding-top: 45px;
    margin-left: 45px;
}

.tip{
    padding: 5px 14px;
    background: #A9B3BF;
    font-size: 12px;
    margin-right: 12px;
    color: #fff;
}

.intro{
    color: #A9B3BF;
}

#answer_block{
    width: 1000px;
}

.keyRadio{
    margin-top: 10px;
}

.keyList{
    margin-bottom: 15px;
    position: relative;
    width: 1000px;
    margin-left: 45px;
    margin-top: 20px;
}

.keyLeft{
    display: inline-block;
    width: 46px;
    text-align: center;
}

.keyRight{
    width: calc(100% - 50px);
    vertical-align: middle;
    display: inline-block;
}

input[type="radio"]{
    height: 15px;
    width: 15px;
}
